<form>
  <div style="text-align: center">
  <p>Select your country below:</p>
  <select [(ngModel)] = "countryCode" name = "code">
    <option (click)="setCurrency()" *ngFor = "let supportedCountry of supportedCountries" [value] = "supportedCountry.code">{{supportedCountry.name}}</option>
  </select>
  <p>Enter your daily gross earnings below:</p>
  <input [(ngModel)] = "grossDailyEarnings" name = "earnings" type="text"/><button disabled>{{countryCurrency}}</button><br>
  <button>Calculate net monthly earnings</button>
</div>
</form>
